.login {
    display: flex;
    justify-content: center;
    padding: 10vh;
}

.login * {
    color: #586069;
}

.card {
    padding: 3vh 10vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    transition: 0.3s;
}

.button {
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button:active {
    transition: none;
    background-color: #f1f8ff;
    border-color: #c8e1ff;
}
