.page {
    display: flex;
    justify-content: center;
    padding: 10vh;
}

.card {
    padding: 3vh 10vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    transition: 0.3s;
}
